/* DOWNLOAD CSS */
@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: $font-size-default;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: $font-family-sansDefault;
    font-size: 1em;
    line-height: 1.5;
    color: $svift-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-mono;
    color: $svift-human;
    clear:both;
}

h1 {
    margin-top: 2em;
}

p strong {
    color: $svift-primary;
}


a {
    text-decoration: none;
    color: $svift-human;
}

header {
  display: flex;
  align-items: center;

  a.wordmark {
    flex: 6;
    height: 50px;

    img {
      height: 45px;
    }
  }

  div.social {
    flex: 1;

    a {
      color: $svift-human;
      font-family: $font-family-mono;
      font-size: 1.1em;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

      &:hover {
        color: $svift-primary;
      }
    }
  }
}

nav {
    margin:30px 0;
    ul {
      margin: 0;
      padding: 0;
      font-family: $font-family-mono;
      font-size: 1.2em;
      line-height: 2;
      list-style-type: none;

      li {
        float:left;
        a {
          color: $svift-human;
          text-decoration: none;
          text-transform: uppercase;
          transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
          padding-right:30px;
          text-decoration: underline;

          &:hover, &.active {
            color: $svift-primary;
          }

        }
      }
    }
  }

hr.closer{
    visibility: hidden;
    clear: both;
    margin:20px 0;
    padding:0;
}

div.legal {
    background: #5C258D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right top, $svift-primary, #4B4B81); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right top, $svift-primary, #4B4B81); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right top, $svift-primary, $svift-human);
    background: linear-gradient(to right top, $svift-primary, $svift-human);
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .ct {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        width: 60%;
        min-height: 100vh;

        box-shadow: $box-shadow-default;

        .ct-body {
            width: 80%;
            padding: 3em 0;

            img {
              height: 45px;

              &.pro-image{
                width:100px;
                height:auto;
                margin:20px 20px 0 0;
              }
            }
          
        }
    }
}

@media all and (max-width: 800px) {
    div.legal .ct{
        width:100%;
    }
}


