/* About CSS */
@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: $font-size-default;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.app {
  display: flex;
  padding: 5% 10% 10% 10%;
  flex-direction: row;
  color: $svift-primary;
  justify-content: center;

  nav {
    flex: 1;
    margin-top: 200px;

    ul {
      margin: 0;
      padding: 0;
      font-family: $font-family-mono;
      font-size: 1.2em;
      line-height: 2;
      list-style-type: none;

      li {
        a {
          color: $svift-human;
          text-decoration: none;
          text-transform: uppercase;
          transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

          &:hover {
            color: $svift-primary;
          }

          &.active {
            color: $svift-primary;
          }
        }
      }
    }
  }

  .wrapper {
    flex: 6;

    header {
      margin-bottom: 10%;
      display: flex;
      align-items: center;

      a.wordmark {
        flex: 6;
        height: 50px;

        img {
          height: 45px;
        }
      }

      div.social {
        flex: 1;

        a {
          color: $svift-human;
          font-family: $font-family-mono;
          font-size: 1.1em;
          text-decoration: none;
          text-transform: uppercase;
          transition: color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

          &:hover {
            color: $svift-primary;
          }
        }
      }
    }

    .content {
      width: 90%;

      h1 {
        color: $svift-human;
        font-family: $font-family-mono;
        font-size: 2em;
        width: fit-content;
        margin-top: 0;
      }

      p {
        font-family: $font-family-sansDefault;
        font-size: 1.1em;
        line-height: 1.5;

        a {
          color: $svift-human;
          text-decoration: none;
        }
      }
    }
  }
}
