/* DOWNLOAD CSS */
/* VARIABLES CSS */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'SourceSansProBold';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoPro';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProLt';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProBold';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegular';
  src: url("../../assets/fonts/Interface/Interface-Regular.eot");
  src: url("../../assets/fonts/Interface/Interface-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Regular.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegularItalic';
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot");
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-RegularItalic.woff") format("woff"), url("../../assets/fonts/Interface/Interface-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'InterfaceRegularBold';
  src: url("../../assets/fonts/Interface/Interface-Bold.eot");
  src: url("../../assets/fonts/Interface/Interface-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Bold.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'svift-iconfont';
  src: url("../../assets/fonts/IconFont/svift-iconfont.eot");
  src: url("../../assets/fonts/IconFont/svift-iconfont.eot") format("embedded-opentype"), url("../../assets/fonts/IconFont/svift-iconfont.woff2") format("woff2"), url("../../assets/fonts/IconFont/svift-iconfont.woff") format("woff"), url("../../assets/fonts/IconFont/svift-iconfont.ttf") format("truetype"), url("../../assets/fonts/IconFont/svift-iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* --- FONTS --- */
/* Font families*/
/* Font sizes*/
/* Line height*/
/* --- COLORS --- */
/* Brand Colors */
/* Background Colors */
/* Bot Colors */
/* Text Colors */
/* Button Colors */
/* Box shadow*/
/* --- PADDINGS & MARGINS, ETC. --- */
/* Padding-App */
/* Padding-Bot */
/* Margin */
/* Border radii*/
/* --- BORDERS --- */
/* Borders */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'SourceSansProBold';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoPro';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProLt';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProBold';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegular';
  src: url("../../assets/fonts/Interface/Interface-Regular.eot");
  src: url("../../assets/fonts/Interface/Interface-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Regular.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegularItalic';
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot");
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-RegularItalic.woff") format("woff"), url("../../assets/fonts/Interface/Interface-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'InterfaceRegularBold';
  src: url("../../assets/fonts/Interface/Interface-Bold.eot");
  src: url("../../assets/fonts/Interface/Interface-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Bold.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'svift-iconfont';
  src: url("../../assets/fonts/IconFont/svift-iconfont.eot");
  src: url("../../assets/fonts/IconFont/svift-iconfont.eot") format("embedded-opentype"), url("../../assets/fonts/IconFont/svift-iconfont.woff2") format("woff2"), url("../../assets/fonts/IconFont/svift-iconfont.woff") format("woff"), url("../../assets/fonts/IconFont/svift-iconfont.ttf") format("truetype"), url("../../assets/fonts/IconFont/svift-iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  width: 100%;
  padding: 10px;
  border-radius: 2em;
  border: 2px solid #75FABF;
  font-family: "DecimaMonoProBold", monospace;
  color: #9a9a9a;
  background-image: url("https://media.kulturbanause.de/2015/03/form-styling/select-arrow.png");
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #fff; }
  select:focus {
    outline: none !important; }

div.download {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #5C258D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right top, #71609b, #75FABF);
  background: linear-gradient(to right top, #71609b, #75FABF);
  justify-content: center;
  align-items: center; }
  div.download .ct {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1); }
    div.download .ct .ct-head {
      text-align: center;
      margin: 3em 0 2em 0; }
      div.download .ct .ct-head h1 {
        font-size: 1.7em;
        font-family: "DecimaMonoProBold", monospace;
        color: #71609b; }
      div.download .ct .ct-head h2 {
        font-size: 1em;
        font-family: "DecimaMonoProBold", monospace;
        color: #9a9a9a; }
    div.download .ct .ct-body {
      width: 70%; }
      div.download .ct .ct-body .dl-preview {
        text-align: center; }
        div.download .ct .ct-body .dl-preview img {
          max-width: 40%;
          height: auto; }
      div.download .ct .ct-body .dl-links {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px 0; }
        div.download .ct .ct-body .dl-links .dl-groups {
          color: #71609b;
          font-family: "DecimaMonoProBold", monospace; }
          div.download .ct .ct-body .dl-links .dl-groups .dl-group-title {
            margin-bottom: 5px; }
      div.download .ct .ct-body #embed {
        font-family: "DecimaMonoProBold", monospace;
        color: #71609b;
        margin-top: 40px; }
        div.download .ct .ct-body #embed #embed-text {
          color: #9a9a9a;
          font-family: "DecimaMonoProBold", monospace;
          width: 100%;
          font-size: 0.9em;
          border: none; }
      div.download .ct .ct-body .dl-icon {
        border-radius: 100px;
        cursor: pointer; }
    div.download .ct .ct-foot {
      margin: 2em 0 3em 0;
      width: 70%;
      display: flex;
      font-size: 0.9em;
      font-family: "DecimaMonoProBold", monospace;
      color: #71609b; }
      div.download .ct .ct-foot .source a {
        text-decoration: none;
        color: #9a9a9a; }

/*# sourceMappingURL=download.css.map */
