/* DOWNLOAD CSS */
@import "./variables/variables";
@import "./fonts/fonts";
@import "./mixins/mixins";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: $font-size-default;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    font-size: 1em;
    width: 100%;
    padding: 10px;
    border-radius: 2em;
    border: $border-thick-svift;
    font-family: $font-family-mono;
    color: $text-subheading;
    background-image: url("https://media.kulturbanause.de/2015/03/form-styling/select-arrow.png");
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: $white;

    &:focus {
        outline: none !important;
    }
}




.social-buttons{
    display: flex;
    font-family: 'svift-iconfont';
}

.social{
width: 50px;
height: 50px;
background-color: #ddd;
border-radius: 50px;
flex: 1;
text-align: center;
padding-top: 15px;
text-decoration: none;
color: black;
}


.extra-buttons{
    display: flex;
}

.extra{
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50px;
    flex: 1;
    text-decoration: none;
color: black;
}



div.download {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: #5C258D; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right top, $svift-primary, #4B4B81); /* Chrome 10-25, Safari 5.1-6
    // background: linear-gradient(to right top, $svift-primary, #4B4B81); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right top, $svift-primary, $svift-human);
    background: linear-gradient(to right top, $svift-primary, $svift-human);
    justify-content: center;
    align-items: center;

    .ct {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 60%;

        // height: 60%;
        border-radius: $border-radius-default * 2;
        box-shadow: $box-shadow-default;
        transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);

        .ct-head {
            text-align: center;
            margin: 3em 0 2em 0;

            h1 {
                font-size: 1.7em;
                font-family: $font-family-mono;
                color: $svift-primary;
            }

            h2 {
                font-size: 1em;
                font-family: $font-family-mono;
                color: $text-subheading;
            }
        }

        .ct-body {
            width: 70%;

            .dl-preview {
                text-align: center;

                img {
                    max-width: 40%;
                    height: auto;
                }
            }

            .dl-links {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin: 20px 0;

                .dl-groups {
                    color: $svift-primary;
                    font-family: $font-family-mono;

                    .dl-group-title {
                        margin-bottom: 5px;
                    }
                }
            }

            #embed {
                font-family: $font-family-mono;
                color: $svift-primary;
                margin-top: 40px;

                #embed-text {
                    color: $text-subheading;
                    font-family: $font-family-mono;
                    width: 100%;
                    font-size: 0.9em;
                    border: none;
                }
            }

            // iframe {
            //     height: 100px;
            // }

            .dl-icon {
                border-radius: $border-radius-circle;
                cursor: pointer;

                &:hover {
                    // transform: translateY(5px);
                    // background-color: $svift-human;
               
                }
            }
        }

        .ct-foot {
            margin: 2em 0 3em 0;
            width: 70%;
            display: flex;
            font-size: 0.9em;
            font-family: $font-family-mono;
            color: $svift-primary;

            .source {
                a {
                    text-decoration: none;
                    color: $text-subheading;
                }
            }
        }
    }
}
