@import "./fonts/fonts";

/* --- FONTS --- */

/* Font families*/
$font-family-mono: "DecimaMonoProBold", monospace;
$font-family-sansDefault: "InterfaceRegular", "Helvetica", "Arial", sans-serif;
$font-family-sansItalic: "InterfaceRegularItalic", "Helvetica", "Arial", sans-serif;

/* Font sizes*/
$font-size-default: 16px;
$font-size-heading: 3em;
$font-size-text: 1em;

/* Line height*/
$line-height-default: 1.5;
$line-height-heading: 53px;


/* --- COLORS --- */

/* Brand Colors */
$svift-primary: rgba(113, 96, 155, 1);
$svift-human: #75FABF;

/* Background Colors */
$bg-light-grey: #F4F4F4;
$white: #fff;
$black: #000;

/* Bot Colors */
$bot-bubble: #E6E6E6;


/* Text Colors */
$text-bot: #3A3A3A;


/* Button Colors */
$ios-btn-default: #B8E986;


/* --- PADDINGS & MARGINS, ETC. --- */

/* Padding-App */
$padding-default: 2%;
$padding-big: 5%;

/* Padding-Bot */
$padding-bubble: 1%;


/* Margin */
$margin-default: 2em;

/* Border radii*/
$border-radius-default: 4px;




