/* VARIABLES CSS */
@import "./fonts/fonts";

/* --- FONTS --- */

/* Font families*/
$font-family-mono: "DecimaMonoProBold", monospace;
$font-family-sansDefault: "InterfaceRegular", "Helvetica", "Arial", sans-serif;
$font-family-sansItalic: "InterfaceRegularItalic", "Helvetica", "Arial", sans-serif;
$font-family-bold: "InterfaceRegularBold";
$font-family-poppins: 'Poppins', sans-serif;
$font-family-merriweather: 'Merriweather', serif;
$font-family-robotoMono: 'Roboto Mono', monospace;

/* Font sizes*/
$font-size-default: 16px;
$font-size-heading: 3em;
$font-size-text: 1em;

/* Line height*/
$line-height-default: 1.5;
$line-height-heading: 53px;

/* --- COLORS --- */

/* Brand Colors */
$svift-primary: rgba(113, 96, 155, 1);
$svift-human: #75FABF;
$svift-human-bright: rgb(168, 250, 213);
$svift-delete: #FF5858;

/* Background Colors */
$bg-light-grey: #F4F4F4;
$white: #fff;
$black: #000;
$table-background: #FBFBFB;

/* Bot Colors */
$bot-bubble: #E6E6E6;
$bot-bubble-waiting-start: #98979C;
$bot-bubble-waiting-end: #AFAFB2;

/* Text Colors */
$text-bot: #3A3A3A;
$text-subheading: #9a9a9a;

/* Button Colors */
$ios-btn-default: #B8E986;

/* Box shadow*/
$box-shadow-default: 0 0 30px rgba(0, 0, 0, 0.2);

/* --- PADDINGS & MARGINS, ETC. --- */

/* Padding-App */
$padding-default: 2%;
$padding-big: 5%;

/* Padding-Bot */
$padding-bubble: 1%;
$padding-bubble-inner: 10px 10px 10px 10px;

/* Margin */
$margin-default: 2em;
$margin-small: 10px;

/* Border radii*/
$border-radius-default: 4px;
$border-radius-circle: 100px;

/* --- BORDERS --- */

/* Borders */
$border-default: 1px solid #D8D8D8;
