/* VARIABLES CSS */
@import "../fonts/fonts.scss";

/* --- FONTS --- */

/* Font families*/
$font-family-mono: "DecimaMonoProBold", monospace;
$font-family-sansDefault: "InterfaceRegular", "Helvetica", "Arial", sans-serif;
$font-family-sansItalic: "InterfaceRegularItalic", "Helvetica", "Arial",
  sans-serif;
$font-family-bold: "InterfaceRegularBold";
$font-family-poppins: "Poppins", sans-serif;
$font-family-merriweather: "Merriweather", serif;
$font-family-robotoMono: "Roboto Mono", monospace;
$font-family-icons: "svift-iconfont";

/* Font sizes*/
$font-size-default: 16px;
$font-size-heading: 2.5em;
$font-size-text: 1em;

/* Line height*/
$line-height-default: 1.5;
$line-height-heading: 53px;

/* --- COLORS --- */

/* Brand Colors */
$svift-primary: rgba(113, 96, 155, 1);
$svift-human: #75fabf;
$svift-human-bright: rgb(168, 250, 213);
$svift-delete: #ff5858;

/* Background Colors */
$bg-light-grey: #f4f4f4;
$white: #fff;
$black: #000;
$table-background: rgb(238, 238, 238);

/* Bot Colors */
$bot-bubble: #e6e6e6;
$bot-bubble-waiting-start: #98979c;
$bot-bubble-waiting-end: #afafb2;

/* Text Colors */
$text-bot: #3a3a3a;
$text-subheading: #9a9a9a;
$text-disabled: #9a9a9a;

/* Button Colors */
$ios-btn-default: #b8e986;

/* Box shadow*/
$box-shadow-default: 0 0 30px rgba(0, 0, 0, 0.2);
$box-shadow-minimal: 0 0 5px rgba(0, 0, 0, 0.2);

/* --- PADDINGS & MARGINS, ETC. --- */

/* Padding-App */
$padding-default: 2%;
$padding-big: 5%;

/* Padding-Bot */
$padding-bubble: 1%;
$padding-bubble-inner: 10px 10px 10px 10px;

/* Margin */
$margin-default: 2em;
$margin-small: 10px;
$margin-medium: 15px;

/* Border radii*/
$border-radius-default: 4px;
$border-radius-circle: 100px;

/* --- BORDERS --- */

/* Borders */
$border-default: 1px solid #d8d8d8;
$border-disabled: 3px solid #d8d8d8;
$border-svift: 1px solid #75fabf;

$border-thick-default: 2px solid #d8d8d8;
$border-thick-svift: 2px solid #75fabf;
