/* APP CSS */
@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: $font-size-default;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

  @include small {
    position: fixed;
  }
}

.mobile {
  display: none;
  height: 100vh;
  width: 100vw;
  color: $white;
  overflow: hidden;
  background: #5c258d; 
  background: -webkit-linear-gradient(to right top,$svift-primary,$svift-human);
  background: linear-gradient(to right top, $svift-primary, $svift-human);
  padding: $padding-default*2;

  img {
    width: 130px;
  }

  h1 {
    margin: 2em auto;
    text-align: center;
    font-family: $font-family-mono;
    font-size: $font-size-heading * 0.5;
    line-height: 1.5;
  }

  @include small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  color: $white;
  overflow: hidden;

  @include small {
    display: none;
  }

  #gui-1 {
    flex: 1 0 50%;
    display: flex;
    flex-flow: column;
    background: #5c258d; 
    background: -webkit-linear-gradient(to right top,$svift-primary,$svift-human);
    background: linear-gradient(to right top, $svift-primary, $svift-human);
    line-height: $line-height-default;
    height:100vh;
    overflow-y:scroll;

    header {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 2em;
      z-index: 2;

      .burger {
        flex: 2;
        transition: 0.4s;

        &:hover {
          cursor: pointer;
        }

        .bar1,
        .bar2,
        .bar3 {
          width: 30px;
          height: 3px;
          background-color: #fff;
          margin: 6px 6px 6px auto;
          transition: 0.4s;
        }

        .change {
          &.bar1 {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }

          &.bar2 {
            opacity: 0;
          }

          &.bar3 {
            -webkit-transform: rotate(45deg) translate(-13px, -12px);
            transform: rotate(45deg) translate(-13px, -12px);
          }
        }
      }

      .svift-logo {
        flex: 8;
        display: flex;

        a {
          display: block;

          img {
            height: 35px;
          }

          @include large {
            padding: 1em 0;
          }
        }
      }
    }

    nav {
      background-color: $white;
      color: $svift-human;
      font-family: $font-family-mono;
      font-size: 2em;
      box-shadow: $box-shadow-default;
      position: absolute;
      left: 0;
      top: -404px;
      width: 50%;
      border-bottom-left-radius: $border-radius-default;
      border-bottom-right-radius: $border-radius-default;
      text-align: center;
      padding: $padding-default;
      transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
      border-right: 1px solid rgb(243, 243, 243);
      z-index: 2;

      .close {
        text-align: right;
        font-size: 0.8em;

        &:after {
          font-family: $font-family-icons;
          content: "\e800";
          cursor: pointer;
        }

        &:hover {
          color: $svift-primary;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          a {
            text-decoration: none;
            color: $svift-human;

            &:hover {
              color: $svift-primary;
            }
          }

          &.minor a{
            padding-top:0px;
            font-size: 0.75em;
          }
        }
      }
    }

    main {
      padding: 5% 10% 0 10%;

      @include large {
        padding: ($padding-big * 1) ($padding-big * 1.5) 0 ($padding-big * 1.5);
      }

      h1 {
        margin: 0;
        font-family: $font-family-mono;
        font-size: $font-size-heading;
        line-height: $line-height-heading;

        @include large {
          font-size: $font-size-heading * 0.8;
        }
      }

      .claim {
        font-family: $font-family-sansDefault;
        font-size: $font-size-text;

        @include large {
          font-size: $font-size-text * 0.95;
        }

        a {
          color: $svift-primary;
          text-decoration: none;
        }
      }
    }

    div.hero {
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    #gui-1-overlay {
      overflow: auto;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      position: absolute;
      //   top: 0;
      left: -100%;
      height: 100vh;
      width: 50%;
      background: $svift-primary;
      background: -webkit-linear-gradient(
        to right top,
        $svift-primary,
        $svift-human
      );
      background: linear-gradient(to right top, $svift-primary, $svift-human);
      transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
      //   overflow: auto;

      div.thumb-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // justify-content: space-evenly;
        // justify-content: center;
        // align-items: flex-end;
        padding: 5vw;
        // padding: 2vw;

        @include large {
          // padding: 3vw;
          // padding: 10vw 10vw 5vw 10vw;
          // padding: 10vw 8vw 5vw 8vw;
        }

        div.thumb {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          cursor: pointer;
          padding: 30px 20px;
          width: calc(100% / 2);

          @include large {
            padding: 20px 10px;
          }

          @include small {
            width: 100%;
          }

          &:hover {
            transform: translateY(5px);
          }

          img {
            box-shadow: $box-shadow-default;
            border-radius: $border-radius-default;
            width: 80%;
            height: auto;
            image-rendering: auto;

            @include large {
              max-width: 100%;
              height: auto;
            }

            @include medium {
              width: 80%;
              height: auto;
            }

            @include small {
              width: 70%;
              height: auto;
            }
          }

          .thumb-eyebrow {
            position: absolute;
            bottom: 10px;
            height: 40px;
            background-color: $white;
            color: $svift-primary;
            text-align: center;
            border-radius: 4px;
            font-family: "DecimaMonoProBold", monospace;
            font-size: 0.8em;
            text-transform: uppercase;
            padding: 10px 30px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

            @include large {
              // width: 100%;
              // height: auto;
            }
          }
        }
      }

      div.viz-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 70%;
        margin-top: 10%;

        // height: 70%;
        border-radius: $border-radius-default * 2;
        opacity: 0;
        box-shadow: $box-shadow-default;
        // transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);

        div.viz-eyebrow {
          text-align: center;
          height: 40px;
          background: $svift-primary;
          position: absolute;
          top: -60px;
          border-radius: $border-radius-default;
          font-family: $font-family-mono;
          font-size: 0.8em;
          text-transform: uppercase;
          padding: $margin-small ($margin-small * 2);
          box-shadow: $box-shadow-default;
        }

        svg {
          border-radius: $border-radius-default;
        }
      }

      a.btn-back {
        writing-mode: vertical-lr;
        position: fixed;
        bottom: 30%;
        left: 2%;
        font-family: "DecimaMonoProBold", monospace;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        transition: color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:hover {
          color: $svift-primary;
        }
      }

      .viz-sizes-wrapper {
        display: block;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
        margin-top: 20px;

        .viz-sizes-header {
          text-align: center;
          background: $svift-primary;
          font-family: $font-family-mono;
          font-size: 0.8em;
          text-transform: uppercase;
          padding: $margin-small ($margin-small * 2);
          box-shadow: $box-shadow-default;
          border-radius: $border-radius-default $border-radius-default 0 0;
        }

        .viz-sizes-body {
          display: flex;
          position: relative;

          .viz-sizes-input-wrapper {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: $white;
            border-radius: 0 0 0 $border-radius-default;
            font-family: $font-family-mono;
            border-right: 1px solid $bot-bubble;

            div {
              color: $svift-primary;
            }

            input {
              width: 70%;
              cursor: pointer;
              font-family: $font-family-sansDefault;
              font-size: 0.9em;
              color: $svift-primary;
              padding: 10px 10px;
              border-style: none;
              border-radius: $border-radius-default;
              transition: box-shadow 0.75s cubic-bezier(0.215, 0.61, 0.355, 1),
                color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1),
                transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,
                opacity 375ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

              &::placeholder {
                color: $svift-primary;
              }
            }
          }

          .viz-sizes-icon-wrapper {
            display: flex;
            flex: 3;
            background-color: $white;
            border-radius: 0 0 $border-radius-default 0;

            .viz-sizes {
              flex: 1;

              // position: absolute;
              // top: 3px;
              font-family: $font-family-icons;
              color: $svift-primary;
              cursor: pointer;
              transition: color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);

              &:hover {
                color: $svift-human;
              }

              &.icon:before {
                position: absolute;
                top: 6px;
              }

              &.icon-twitter:before {
                content: "\f099";
              }

              &.icon-facebook:before {
                content: "\f09a";
              }

              &.icon-snapchat:before {
                content: "\f2ac";
              }

              &.icon-instagram:before {
                content: "\f32d";
              }
            }
          }
        }
      }
    }
  }
}

#gui-2 {
  flex: 1 0 50%;
  position: relative;

  // background-color: $bg-light-grey;
  background-color: $white;
  font-family: $font-family-sansDefault;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  /* background:#FF5858;*/
  background: #6c6c6c;
  border-radius: 0;
}

#soon-more-vis{
    width: 100%;
    text-align: center;
    padding-top: 40px;
    span{
      background-color: #fff;
      color: #71609b;
      text-align: center;
      border-radius: 4px;
      font-family: "DecimaMonoProBold", monospace;
      font-size: 0.8em;
      padding: 15px;
      box-shadow: 0 0 30px rgba(0,0,0,0.2);
    }
}