/* APP CSS */
@import "./variables/variables";
@import "./fonts/fonts";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: $font-size-default;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.app {
    display: flex;
    height: 100vh;
    color: $white;
    overflow: hidden;

    #gui-1 {
        flex: 1;
        display: flex;
        padding: $padding-big 0;
        background: #5C258D; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right top, $svift-primary, #4B4B81); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right top, $svift-primary, #4B4B81); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        line-height: $line-height-default;

        nav {
            position: absolute;
            top: $padding-big;
            left: $padding-big - 2%;

            &:hover {
                cursor: pointer;
            }

            div {
                width: 30px;
                height: 10px;
                border-bottom: 3px solid $white;
            }
        }

        div.inner {
            padding: ($padding-big * 1.5) ($padding-big * 2);

            h1 {
                // padding: $padding-big 0;
                margin: ($padding-big * 2) 0 $padding-big 0;

                // padding: ($padding-big * 1.5) 0 $padding-big 0;
                font-family: $font-family-mono;
                font-size: $font-size-heading;
                line-height: $line-height-heading;
            }

            .claim {
                font-family: $font-family-sansDefault;
                font-size: $font-size-text * 1.1;
            }

            .img-intro {
                // padding: $padding-big 0;
                // text-align: center;
           
            }
        }

        #gui-1-overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 50%;
            background: $svift-primary;
            transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);

            div.thumb-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-end;

                // background-color: red;

                div.thumb {
                    display: inline-block;
                    margin: 20px;
                    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
                    cursor: pointer;

                    &:hover {
                        transform: translateY(5px);
                    }

                    img {
                        box-shadow: $box-shadow-default;
                        border-radius: $border-radius-default;
                    }
                }
            }

            div.viz-container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 70%;
                // height: 70%;
                border-radius: $border-radius-default * 2;
                opacity: 0;
                box-shadow: $box-shadow-default;
                transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);

                div.viz-eyebrow {
                    text-align: center;
                    height: 40px;
                    background: $svift-primary;
                    position: absolute;
                    top: -60px;
                    border-radius: $border-radius-default;
                    font-family: $font-family-mono;
                    font-size: 0.8em;
                    text-transform: uppercase;
                    padding: $margin-small ($margin-small * 2);
                    box-shadow: $box-shadow-default;
                }

                svg {
                    border-radius: $border-radius-default;
                }

            }

            a.btn-back {
                writing-mode: vertical-lr;
                position: fixed;
                bottom: 30%;
                left: 2%;
                font-family: "DecimaMonoProBold", monospace;
                font-size: 1em;
                color: #fff;
                text-decoration: none;
                transition: color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);

                &:hover {
                    color: $svift-primary;
                }
            }

            .viz-sizes-wrapper {
                display: block;
                flex-wrap: nowrap;
                justify-content: space-between;
                text-align: center;
                font-size: 1em;
                line-height: 1.7;
                margin-top: 20px;

                .viz-sizes-header {
                    text-align: center;
                    height: 40px;
                    background: $svift-primary;
                    font-family: $font-family-mono;
                    font-size: 0.8em;
                    text-transform: uppercase;
                    padding: $margin-small ($margin-small * 2);
                    box-shadow: $box-shadow-default;
                    border-radius: $border-radius-default $border-radius-default 0 0;
                }

                .viz-sizes-body {
                    display: flex;
                    position: relative;

                    .viz-sizes-input-wrapper {
                        flex: 2;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        background-color: $white;
                        border-radius: 0 0 0 $border-radius-default;

                        // border-radius: $border-radius-default;
                        color: $text-bot;
                        font-family: $font-family-mono;

                        input {
                            width: 70%;
                            cursor: pointer;
                            font-family: $font-family-mono;
                            padding: 10px 10px;
                            color: $text-bot;
                            border-style: none;
                            border-radius: $border-radius-default;
                            transition: box-shadow 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 375ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

                            // background-color: $table-background;
                       
                        }
                    }

                    .viz-sizes-icon-wrapper {
                        display: flex;
                        flex: 3;
                        background-color: $white;
                        border-radius: 0 0 $border-radius-default 0;

                        .viz-sizes {
                            flex: 1;

                            // position: absolute;
                            // top: 3px;
                            font-family: $font-family-icons;
                            color: $svift-primary;
                            cursor: pointer;
                            transition: color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);

                            &:hover {
                                color: $svift-human;
                            }

                            &.icon:before {
                                position: absolute;
                                top: 6px;
                            }

                            &.icon-twitter:before {
                                content: '\f099';
                            }

                            &.icon-facebook:before {
                                content: '\f09a';
                            }

                            &.icon-snapchat:before {
                                content: '\f2ac';
                            }

                            &.icon-instagram:before {
                                content: '\f32d';
                            }
                        }
                    }
                }
            }
        }
    }
}

#gui-2 {
    flex: 1;
    position: relative;

    // background-color: $bg-light-grey;
    background-color: $white;
    font-family: $font-family-sansDefault;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    /* background:#FF5858;*/
    background: #6C6C6C;
    border-radius: 0;
}
