/* APP CSS */
/* VARIABLES CSS */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'SourceSansProBold';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoPro';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProLt';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProBold';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegular';
  src: url("../../assets/fonts/Interface/Interface-Regular.eot");
  src: url("../../assets/fonts/Interface/Interface-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Regular.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegularItalic';
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot");
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-RegularItalic.woff") format("woff"), url("../../assets/fonts/Interface/Interface-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'InterfaceRegularBold';
  src: url("../../assets/fonts/Interface/Interface-Bold.eot");
  src: url("../../assets/fonts/Interface/Interface-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Bold.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/* --- FONTS --- */
/* Font families*/
/* Font sizes*/
/* Line height*/
/* --- COLORS --- */
/* Brand Colors */
/* Background Colors */
/* Bot Colors */
/* Text Colors */
/* Button Colors */
/* Box shadow*/
/* --- PADDINGS & MARGINS, ETC. --- */
/* Padding-App */
/* Padding-Bot */
/* Margin */
/* Border radii*/
/* --- BORDERS --- */
/* Borders */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'SourceSansProBold';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoPro';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProLt';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProBold';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegular';
  src: url("../../assets/fonts/Interface/Interface-Regular.eot");
  src: url("../../assets/fonts/Interface/Interface-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Regular.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegularItalic';
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot");
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-RegularItalic.woff") format("woff"), url("../../assets/fonts/Interface/Interface-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'InterfaceRegularBold';
  src: url("../../assets/fonts/Interface/Interface-Bold.eot");
  src: url("../../assets/fonts/Interface/Interface-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Bold.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.app {
  display: flex;
  height: 100vh;
  color: #fff;
  overflow: hidden; }
  .app #gui-1 {
    flex: 1;
    display: flex;
    padding: 5% 0;
    background-color: #71609b;
    line-height: 1.5; }
    .app #gui-1 nav {
      position: absolute;
      top: 5%;
      left: 3%; }
      .app #gui-1 nav:hover {
        cursor: pointer; }
      .app #gui-1 nav div {
        width: 30px;
        height: 10px;
        border-bottom: 3px solid #fff; }
    .app #gui-1 div.inner {
      padding: 0 10%; }
      .app #gui-1 div.inner h1 {
        padding: 7.5% 0 5% 0;
        font-family: "DecimaMonoProBold", monospace;
        font-size: 3em;
        line-height: 53px; }
      .app #gui-1 div.inner .claim {
        font-family: "InterfaceRegular", "Helvetica", "Arial", sans-serif;
        font-size: 1em; }
      .app #gui-1 div.inner .img-intro {
        padding: 10% 0;
        text-align: center; }
        .app #gui-1 div.inner .img-intro img {
          width: 80%; }
    .app #gui-1 #gui-1-overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 50%;
      background: #71609b;
      transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
      .app #gui-1 #gui-1-overlay div.thumb-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end; }
        .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb {
          display: inline-block;
          margin: 20px;
          transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          cursor: pointer; }
          .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb:hover {
            transform: translateY(5px); }
          .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb img {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            border-radius: 4px; }
      .app #gui-1 #gui-1-overlay div.viz-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 70%;
        height: 70%;
        border-radius: 8px;
        opacity: 0;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1); }
        .app #gui-1 #gui-1-overlay div.viz-container div.viz-eyebrow {
          text-align: center;
          height: 40px;
          background: #71609b;
          position: absolute;
          top: -20px;
          border-radius: 4px;
          font-family: "DecimaMonoProBold", monospace;
          font-size: 0.8em;
          text-transform: uppercase;
          padding: 10px 20px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
        .app #gui-1 #gui-1-overlay div.viz-container div.viz-container-inner {
          width: 80%;
          height: 80%; }
        .app #gui-1 #gui-1-overlay div.viz-container svg {
          border-radius: 4px; }
      .app #gui-1 #gui-1-overlay a.btn-back {
        margin-top: 2em;
        font-family: "DecimaMonoProBold", monospace;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        transition: color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
        .app #gui-1 #gui-1-overlay a.btn-back:hover {
          color: #71609b; }

#gui-2 {
  flex: 1;
  position: relative;
  background-color: #fff;
  font-family: "InterfaceRegular", "Helvetica", "Arial", sans-serif; }

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-track {
  background: none; }

::-webkit-scrollbar-thumb {
  /* background:#FF5858;*/
  background: #6C6C6C;
  border-radius: 0; }

/*# sourceMappingURL=app.css.map */
