 /* APP CSS */
@import "./variables/variables";
@import "./fonts/fonts";

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html, body {
  margin:0;
  padding:0;
  border:0;
  font-size: $font-size-default;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.app{
  display: flex;
  height: 100vh;
  color: $white;
  overflow: hidden;

  .gui{

  }

  #gui-1{
    flex: 1;
    display: flex;
    padding: $padding-big 0;
    background-color: $svift-primary;
    line-height: $line-height-default;

    nav{
      position: absolute;
      top: $padding-big;
      left: $padding-big;

      &:hover{
        cursor: pointer;
      }

      div{
        width: 30px;
        height: 10px;
        border-bottom: 3px solid $white;
      } 
    }

    div.inner{
      padding: 0 $padding-big*2;

      h1{
        padding: $padding-big*1.5 0 $padding-big 0;
        font-family: $font-family-mono;
        font-size: $font-size-heading;
        line-height: $line-height-heading;
      }
  
      .claim{
        font-family: $font-family-sansDefault;
        font-size: $font-size-text;
      }

      .img-intro{
        padding: $padding-big*2 0;
        text-align: center;

        img{
          width: 80%;
        }
      }
    }

    #gui-1-overlay{
      // display: flex;
      position: absolute;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 50%;
      background: $svift-primary;
      transition: all 0.75s cubic-bezier(.215,.61,.355,1);

      div.thumb{
        // flex: 1;
        width: 50%;
        background-color: red;

        img{
          width: 50%;
        }
      }

    }
  }

  }

  #gui-2{
    flex: 1;
    position: relative;
    // background-color: $bg-light-grey;
    background-color: $white;
    font-family: $font-family-sansDefault;
  }



::-webkit-scrollbar {
  width:5px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
 /* background:#FF5858;*/
  background:#6C6C6C;
  border-radius:0;
}


  
     