/* APP CSS */
/* VARIABLES CSS */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'SourceSansProBold';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoPro';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProLt';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProBold';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegular';
  src: url("../../assets/fonts/Interface/Interface-Regular.eot");
  src: url("../../assets/fonts/Interface/Interface-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Regular.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegularItalic';
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot");
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-RegularItalic.woff") format("woff"), url("../../assets/fonts/Interface/Interface-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'InterfaceRegularBold';
  src: url("../../assets/fonts/Interface/Interface-Bold.eot");
  src: url("../../assets/fonts/Interface/Interface-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Bold.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'svift-iconfont';
  src: url("../../assets/fonts/IconFont/svift-iconfont.eot");
  src: url("../../assets/fonts/IconFont/svift-iconfont.eot") format("embedded-opentype"), url("../../assets/fonts/IconFont/svift-iconfont.woff2") format("woff2"), url("../../assets/fonts/IconFont/svift-iconfont.woff") format("woff"), url("../../assets/fonts/IconFont/svift-iconfont.ttf") format("truetype"), url("../../assets/fonts/IconFont/svift-iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* --- FONTS --- */
/* Font families*/
/* Font sizes*/
/* Line height*/
/* --- COLORS --- */
/* Brand Colors */
/* Background Colors */
/* Bot Colors */
/* Text Colors */
/* Button Colors */
/* Box shadow*/
/* --- PADDINGS & MARGINS, ETC. --- */
/* Padding-App */
/* Padding-Bot */
/* Margin */
/* Border radii*/
/* --- BORDERS --- */
/* Borders */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */ }
  @media screen and (max-width: 699px) {
    html,
    body {
      position: fixed; } }

.mobile {
  display: none;
  height: 100vh;
  width: 100vw;
  color: #fff;
  overflow: hidden;
  background: #5c258d;
  background: -webkit-linear-gradient(to right top, #71609b, #75fabf);
  background: linear-gradient(to right top, #71609b, #75fabf);
  padding: 4%; }
  .mobile img {
    width: 130px; }
  .mobile h1 {
    margin: 2em auto;
    text-align: center;
    font-family: "DecimaMonoProBold", monospace;
    font-size: 1.25em;
    line-height: 1.5; }
  @media screen and (max-width: 699px) {
    .mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  color: #fff;
  overflow: hidden; }
  @media screen and (max-width: 699px) {
    .app {
      display: none; } }
  .app #gui-1 {
    flex: 1 0 50%;
    display: flex;
    flex-flow: column;
    background: #5c258d;
    background: -webkit-linear-gradient(to right top, #71609b, #75fabf);
    background: linear-gradient(to right top, #71609b, #75fabf);
    line-height: 1.5;
    height: 100vh;
    overflow-y: scroll; }
    .app #gui-1 header {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 2em;
      z-index: 2; }
      .app #gui-1 header .burger {
        flex: 2;
        transition: 0.4s; }
        .app #gui-1 header .burger:hover {
          cursor: pointer; }
        .app #gui-1 header .burger .bar1,
        .app #gui-1 header .burger .bar2,
        .app #gui-1 header .burger .bar3 {
          width: 30px;
          height: 3px;
          background-color: #fff;
          margin: 6px 6px 6px auto;
          transition: 0.4s; }
        .app #gui-1 header .burger .change.bar1 {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .app #gui-1 header .burger .change.bar2 {
          opacity: 0; }
        .app #gui-1 header .burger .change.bar3 {
          -webkit-transform: rotate(45deg) translate(-13px, -12px);
          transform: rotate(45deg) translate(-13px, -12px); }
      .app #gui-1 header .svift-logo {
        flex: 8;
        display: flex; }
        .app #gui-1 header .svift-logo a {
          display: block; }
          .app #gui-1 header .svift-logo a img {
            height: 35px; }
          @media screen and (min-width: 1300px) {
            .app #gui-1 header .svift-logo a {
              padding: 1em 0; } }
    .app #gui-1 nav {
      background-color: #fff;
      color: #75fabf;
      font-family: "DecimaMonoProBold", monospace;
      font-size: 2em;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      position: absolute;
      left: 0;
      top: -404px;
      width: 50%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      text-align: center;
      padding: 2%;
      transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
      border-right: 1px solid #f3f3f3;
      z-index: 2; }
      .app #gui-1 nav .close {
        text-align: right;
        font-size: 0.8em; }
        .app #gui-1 nav .close:after {
          font-family: "svift-iconfont";
          content: "\e800";
          cursor: pointer; }
        .app #gui-1 nav .close:hover {
          color: #71609b; }
      .app #gui-1 nav ul {
        list-style-type: none;
        padding: 0; }
        .app #gui-1 nav ul li a {
          text-decoration: none;
          color: #75fabf; }
          .app #gui-1 nav ul li a:hover {
            color: #71609b; }
        .app #gui-1 nav ul li.minor a {
          padding-top: 0px; }
    .app #gui-1 main {
      padding: 5% 10% 0 10%; }
      @media screen and (min-width: 1300px) {
        .app #gui-1 main {
          padding: 5% 7.5% 0 7.5%; } }
      .app #gui-1 main h1 {
        margin: 0;
        font-family: "DecimaMonoProBold", monospace;
        font-size: 2.5em;
        line-height: 53px; }
        @media screen and (min-width: 1300px) {
          .app #gui-1 main h1 {
            font-size: 2em; } }
      .app #gui-1 main .claim {
        font-family: "InterfaceRegular", "Helvetica", "Arial", sans-serif;
        font-size: 1em; }
        @media screen and (min-width: 1300px) {
          .app #gui-1 main .claim {
            font-size: 0.95em; } }
        .app #gui-1 main .claim a {
          color: #71609b;
          text-decoration: none; }
    .app #gui-1 div.hero {
      text-align: center; }
      .app #gui-1 div.hero img {
        max-width: 100%;
        height: auto; }
    .app #gui-1 #gui-1-overlay {
      overflow: auto;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: -100%;
      height: 100vh;
      width: 50%;
      background: #71609b;
      background: -webkit-linear-gradient(to right top, #71609b, #75fabf);
      background: linear-gradient(to right top, #71609b, #75fabf);
      transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
      .app #gui-1 #gui-1-overlay div.thumb-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 5vw; }
        .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          cursor: pointer;
          padding: 30px 20px;
          width: calc(100% / 2); }
          @media screen and (min-width: 1300px) {
            .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb {
              padding: 20px 10px; } }
          @media screen and (max-width: 699px) {
            .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb {
              width: 100%; } }
          .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb:hover {
            transform: translateY(5px); }
          .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb img {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            width: 80%;
            height: auto;
            image-rendering: auto; }
            @media screen and (min-width: 1300px) {
              .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb img {
                max-width: 100%;
                height: auto; } }
            @media screen and (max-width: 950px) {
              .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb img {
                width: 80%;
                height: auto; } }
            @media screen and (max-width: 699px) {
              .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb img {
                width: 70%;
                height: auto; } }
          .app #gui-1 #gui-1-overlay div.thumb-wrapper div.thumb .thumb-eyebrow {
            position: absolute;
            bottom: 10px;
            height: 40px;
            background-color: #fff;
            color: #71609b;
            text-align: center;
            border-radius: 4px;
            font-family: "DecimaMonoProBold", monospace;
            font-size: 0.8em;
            text-transform: uppercase;
            padding: 10px 30px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
      .app #gui-1 #gui-1-overlay div.viz-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 70%;
        margin-top: 10%;
        border-radius: 8px;
        opacity: 0;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
        .app #gui-1 #gui-1-overlay div.viz-container div.viz-eyebrow {
          text-align: center;
          height: 40px;
          background: #71609b;
          position: absolute;
          top: -60px;
          border-radius: 4px;
          font-family: "DecimaMonoProBold", monospace;
          font-size: 0.8em;
          text-transform: uppercase;
          padding: 10px 20px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
        .app #gui-1 #gui-1-overlay div.viz-container svg {
          border-radius: 4px; }
      .app #gui-1 #gui-1-overlay a.btn-back {
        writing-mode: vertical-lr;
        position: fixed;
        bottom: 30%;
        left: 2%;
        font-family: "DecimaMonoProBold", monospace;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        transition: color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
        .app #gui-1 #gui-1-overlay a.btn-back:hover {
          color: #71609b; }
      .app #gui-1 #gui-1-overlay .viz-sizes-wrapper {
        display: block;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
        margin-top: 20px; }
        .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-header {
          text-align: center;
          background: #71609b;
          font-family: "DecimaMonoProBold", monospace;
          font-size: 0.8em;
          text-transform: uppercase;
          padding: 10px 20px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          border-radius: 4px 4px 0 0; }
        .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body {
          display: flex;
          position: relative; }
          .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-input-wrapper {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #fff;
            border-radius: 0 0 0 4px;
            font-family: "DecimaMonoProBold", monospace;
            border-right: 1px solid #e6e6e6; }
            .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-input-wrapper div {
              color: #71609b; }
            .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-input-wrapper input {
              width: 70%;
              cursor: pointer;
              font-family: "InterfaceRegular", "Helvetica", "Arial", sans-serif;
              font-size: 0.9em;
              color: #71609b;
              padding: 10px 10px;
              border-style: none;
              border-radius: 4px;
              transition: box-shadow 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, opacity 375ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
              .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-input-wrapper input::placeholder {
                color: #71609b; }
          .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-icon-wrapper {
            display: flex;
            flex: 3;
            background-color: #fff;
            border-radius: 0 0 4px 0; }
            .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-icon-wrapper .viz-sizes {
              flex: 1;
              font-family: "svift-iconfont";
              color: #71609b;
              cursor: pointer;
              transition: color 0.75s cubic-bezier(0.215, 0.61, 0.355, 1); }
              .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-icon-wrapper .viz-sizes:hover {
                color: #75fabf; }
              .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-icon-wrapper .viz-sizes.icon:before {
                position: absolute;
                top: 6px; }
              .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-icon-wrapper .viz-sizes.icon-twitter:before {
                content: "\f099"; }
              .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-icon-wrapper .viz-sizes.icon-facebook:before {
                content: "\f09a"; }
              .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-icon-wrapper .viz-sizes.icon-snapchat:before {
                content: "\f2ac"; }
              .app #gui-1 #gui-1-overlay .viz-sizes-wrapper .viz-sizes-body .viz-sizes-icon-wrapper .viz-sizes.icon-instagram:before {
                content: "\f32d"; }

#gui-2 {
  flex: 1 0 50%;
  position: relative;
  background-color: #fff;
  font-family: "InterfaceRegular", "Helvetica", "Arial", sans-serif; }

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-track {
  background: none; }

::-webkit-scrollbar-thumb {
  /* background:#FF5858;*/
  background: #6c6c6c;
  border-radius: 0; }

#soon-more-vis {
  width: 100%;
  text-align: center;
  padding-top: 40px; }
  #soon-more-vis span {
    background-color: #fff;
    color: #71609b;
    text-align: center;
    border-radius: 4px;
    font-family: "DecimaMonoProBold", monospace;
    font-size: 0.8em;
    padding: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=app.css.map */
