/* BOT CSS Namespace 'cb-' */
@font-face {
  font-family: 'SourceSansPro';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'SourceSansProBold';
  src: url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("../../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoPro';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProLt';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoProLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DecimaMonoProBold';
  src: url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.woff") format("woff"), url("../../assets/fonts/DecimaMonoPro/DecimaMonoPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegular';
  src: url("../../assets/fonts/Interface/Interface-Regular.eot");
  src: url("../../assets/fonts/Interface/Interface-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-Regular.woff") format("woff"), url("../../assets/fonts/Interface/Interface-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'InterfaceRegularItalic';
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot");
  src: url("../../assets/fonts/Interface/Interface-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Interface/Interface-RegularItalic.woff") format("woff"), url("../../assets/fonts/Interface/Interface-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
/* --- FONTS --- */
/* Font families*/
/* Font sizes*/
/* Line height*/
/* --- COLORS --- */
/* Brand Colors */
/* Background Colors */
/* Text Colors */
/* Button Colors */
/* --- PADDINGS & MARGINS, ETC. --- */
/* Padding */
/* Margin */
/* Border radii*/
.cb-segment {
  clear: both; }

.cb-segment.cb-bot > div {
  float: left; }

.cb-segment.cb-human > div {
  float: right; }

.cb-icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px; }

.cb-bot .cb-icon {
  background-color: #71609B;
  margin-right: 10px; }

.cb-human .cb-icon {
  background-color: #75FABF;
  margin-left: 10px; }

.cb-bubble {
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 5px; }

.cb-bubble > .cb-inner {
  margin: 0;
  padding: 10px; }

.cb-bubble p {
  padding: 0;
  margin: 0; }

.cb-segment hr {
  clear: both;
  display: blocK;
  visibility: hidden;
  width: 100%;
  margin-top: 10px; }

.cb-bot .cb-bubble {
  border-bottom-left-radius: 0px; }

.cb-human .cb-bubble {
  border-bottom-right-radius: 0px; }

#cb-flow {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden; }

#cb-flow > .cb-inner {
  padding-top: 100%;
  margin: 0 20px; }

#cb-flow > .cb-inner.cb-w-input {
  /* When the input is active (height of input + extra padding) */
  padding-bottom: 70px; }

#cb-input {
  position: absolute;
  /* right: 0; */
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff; }

/*# sourceMappingURL=bot.css.map */
