 /* BOT CSS Namespace 'cb-' */
@import "./variables/variables";

.cb-segment{
    clear:both;
}

.cb-segment.cb-bot > div{
    float:left;
}

.cb-segment.cb-human > div{
    float:right;
}

.cb-icon{
    display: block;
    width:30px;
    height:30px;
    border-radius: 15px;
}

.cb-bot .cb-icon{
    background-color: $svift-primary;
    margin-right:10px;
}

.cb-human .cb-icon{
    background-color: $svift-human;
    margin-left:10px;
}

.cb-bubble{
    background-color:rgba(0,0,0,0.2);
    color:black;
    border-radius:5px;
}

.cb-bubble > .cb-inner{
    margin:0;
    padding:10px;
}

.cb-bubble p{
    padding:0;
    margin:0;
}

.cb-segment hr{
    clear:both;
    display:blocK;
    visibility: hidden;
    width:100%;
    margin-top:10px;
}

.cb-bot .cb-bubble{
    border-bottom-left-radius: 0px;
}

.cb-human .cb-bubble{
    border-bottom-right-radius: 0px;
}

#cb-flow{
    // position: absolute;
    // right:0;
    // top:0;
    width:100%;
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
}

#cb-flow > .cb-inner{
    padding-top:100%;
    margin:0 20px;
}

#cb-flow > .cb-inner.cb-w-input{
    /* When the input is active (height of input + extra padding) */
    padding-bottom:70px;
}

#cb-input{
    position: absolute;
    /* right: 0; */
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}